/* Import the Lobster Two font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

/* Reset default margin, padding, and set the font-family to Lobster Two */
* {
  margin: 0;
  padding: 0;
  font-family: "Lobster Two", sans-serif;
}
/* Styling for the header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 50px;
  margin: 20px;
  color: #437ab5;
}
/* Styling for the toggle button */
.toggle {
  margin: 10px 10px 0 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #00b4d8;
  border: 1px solid #001d3d;
  box-shadow: 3px 4px 4px rgba(128, 128, 128, 0.479);
  color: white;
  letter-spacing: 0.11em;
}

/* Styling for hover effect on the toggle button */
.toggle:hover {
  background-color: #437ab5;
  cursor: pointer;
}
